<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dk9a86uhu/image/upload/v1636642178/krvbal8e1sawpf11noa11xnvazc0.jpg);">
  <div class="container">
    <h1>Create Your Movies Watch Lists !</h1>
    <h3 class="typed-js"></h3>
    <a href="/lists/new" alt="link to new list">
      <button type="button" class="btn btn-success" style="color: white">New List</button>
    </a>
  </div>
</div>
<% if user_signed_in? %>
  <button><%= link_to 'Log out', destroy_user_session_path, method: :delete %></button>
<% end %>

<%= render 'shared/list-cards' %>