<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dk9a86uhu/image/upload/v1636642178/krvbal8e1sawpf11noa11xnvazc0.jpg);">
  <div class="container">
    <h1><%= @list.name%></h1>
  </div>
</div>
<div class="container">
  <%= @list.name %>
  <% if !@list.movies.empty? %>
    <ul>
      <% @list.movies.each do |movie| %>
        <%= movie.title %>
        <%= image_tag movie.poster_url, style: 'width: 200px'%>
      <% end %>
    </ul>
  <% end %>
</div>