.btn {
  width: 130px;
  color: white;
  &:hover {
    color: white;
  }
}

#add-new-movie-button {
  width: 400px;
}

.order-buttons {
  color: white;
  background-color: rgb(243, 156, 199);
  padding: 8px 12px;
  border-radius: 50px;
  margin-left: 12px;
}