* {
  transition: all 0.5s ease;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.index-box {
  margin-top: 25px;
}

.list-card {
  // top: 0px;
  left: 0px;
  position: relative;
  width: 80%;
  background-color: white;
  border-radius: 4px;
  margin: 20px auto;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  &:hover {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    // top: -8px;
    left: -8px;
  }
}