$light-pink: #fff2fe;

.navbar {
  position: fixed;
  width: 100%;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: $light-pink;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon img {
  width: 40px;
}
