<div class="container">
  <h1>VideoClubs</h1>
  <ul>
    <% @video_clubs.each do |vc| %>
      <li>
        <p><%= vc.name %></p>
        <p><%= vc.address %></p>
      </li>
    <% end %>
  </ul>
</div>

